.content-data-imovel {
  border-bottom: 1px solid #212529;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-data-imovel div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



